{deps,[
    {chumak, "1.2.0"}
]}.

{erl_opts, [{i, "./_build/default/plugins/gpb/include"}]}.

{plugins, [rebar3_gpb_plugin]}.

{provider_hooks, [
    {pre, [{compile, {protobuf, compile}}]}
]}.

{gpb_opts, [
    {maps,true},
    {string_as_binaries, true},
    {recursive, true},
    {i, "proto"},                % path/to/proto_dir
    {module_name_suffix, "_pb"}, % Naming convention, unless you have a good reason just go with it.
    %{o, "path/to/out_dir"},     % both .erl and .hrl are generated here, we will define the directories below instead.
    {o_erl, "src"},              % Where the generated source is placed
    {o_hrl, "include"} % Where the generated include files are placed
]}.

{relx, [{release, {dev, "0.0.1"},[{chumak,"1.2.0"}]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}
]}.
